/*Snippet for an image that holds text in a box from W3schools/*
/* Container holding the image and the text */
.container {
    position: relative;
  }
  
  /* Bottom right text */
  .text-block {
    position: static;
    bottom:3px;
    right:0px;
    background-color:turquoise;
    color:grey;
    padding-left:5px;
    padding-right:5px;
  }