.background {
  background-color: rgb(48, 48, 150)

}
.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    display: block
  }
 
.container-maroon {
  background-color: maroon;
}  


.container-aqua {
  background-color: aqua;
}


.title {
  display: flex;
  flex-wrap: wrap;
  background-color: maroon;
}
  .container-red {
    background-color: red
    
  }